enable
configure terminal
vlan 20
name MARKETING
interface range Fa0/1
description Clement <-> SA-DIRECTION
switchport mode access
switchport access vlan 20
no shutdown
exit
interface range Fa0/2
description Laura <-> SA-DIRECTION
switchport mode access
switchport access vlan 20
no shutdown
exit
end 
write memory