enable
conf t
interface Fa0/1
    Description PC-DG <-> SA-Direction
    switchport mode acces
    switchport access vlan 22
    no shutdown
exit
interface Fa0/2
    Description SRV-PT <-> SA-Direction
    switchport mode acces
    switchport access vlan 22
    no shutdown
exit
end
write memory
