enable
configure terminal
interface FastEthernet0/1
	description pc-Marketing <-> sa-Marketing
	switchport mode access
	switchport access vlan 20
	no shutdown
interface FastEthernet0/2
	description pc-Marketing <-> sa-Marketing
	switchport mode access
	switchport access vlan 20
	no shutdown
exit
end
write memory
