enable
conf t
interface GiagbitEthernet1/0/1
    description SA-Core <-> SA-Marketing
    switchport mode access
    switchport access vlan20
    ip access-group 101 in
    no shutdown
exit
interface GiagbitEthernet1/0/2
    description SA-Core <-> SA-RH
    switchport mode access
    switchport access vlan21
    ip access-group 101 in
    no shutdown
exit
interface GiagbitEthernet01/0/3
    description SA-Core <-> SA-Direction
    switchport mode access
    switchport access vlan22
    no shutdown
exit
end
write memory