enable
configure terminal
interface GigabitEthernet1/0/1
    description core <-> sa-Marketing
    switchport mode access
    switchport access vlan 20
    no shutdown

interface GigabitEthernet1/0/2
    description core <-> sa-Direction
    switchport mode access
    switchport access vlan 22
    no shutdown

interface GigabitEthernet1/0/3
    description core <-> sa-RH
    switchport mode access
    switchport access vlan 21
    no shutdown
exit
end
write memory
