enable 
configure terminal
interface GigabitEthernet1/0/1
    description CORE-SWITCH <-> SA-MARKETING
    switchport mode access
    switchport access vlan 20
    no shutdown
exit
interface GigabitEthernet1/0/2
    description CORE-SWITCH <-> SA-DIRECTION
    switchport mode access
    switchport access vlan 22
    no shutdown
exit
interface GigabitEthernet1/0/3
    description CORE-SWITCH <-> SA-RH
    switchport mode access
    switchport access vlan 21
    no shutdown
exit
end
write memory