enable
configure terminal
interface GigabitEthernet1/0/1
    description Core-Switch <-> SA-MARKETING
    switchport mode access
    switchport access vlan 20
exit

interface GigabitEthernet1/0/2
    description Core-Switch <-> SA-Direction
    switchport mode access
    switchport access vlan 22
exit

interface GigabitEthernet1/0/3
    description Core-Switch <-> SA-RH
    switchport mode access
    switchport access vlan 21
exit
end
write memory