enable
conf t
interface Fa0/1
    Description PC-Laura <-> SA-Marketing
    switchport mode access
    switchport access vlan 20
    no shutdown
exit
interface Fa0/2
    Description PC-Clement <-> SA-Marketing
    switcport mode access 
    switchport access vlan 20
    no shutdown
exit
end
write memory