interface vlan 22
description gateway for vlan 22
ip address 192.168.22.1 255.255.255.0
no shutdown
exit
interface vlan 21
description gateway for vlan 21
ip address 192.168.21.1 255.255.255.0
no shutdown
exit
interface vlan 20
description gateway for vlan 20
ip address 192.168.20.1 255.255.255.0
no shutdown
exit
end 
write memory
